<div class="product-card">
    <div class="card" style="width: 18rem; margin: 10px;">
        <a href="@($"productsdetail/{@ProductId}")"><img class="card-img-top" src="@imageUrl" alt="taartje" style="padding: 30px;"/></a>
        <div class="card-body">
            <h5 class="card-title">@Name</h5>
            <p class="card-text">@Description</p>
            <button type="button" class="btn btn-primary">Toevoegen</button>
        </div>
    </div>
</div>