<div class="product-card">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@imageUrl" alt="taartje" style="padding: 10px"/>
        <div class="card-body">
            <h5 class="card-title">@Name</h5>
            <p class="card-text">@Description</p>
            <button class="button-is-info"><i class="bi bi-cart"></i></button>
        </div>
    </div>
</div>