@page "/productsoverview"
@using Imi.Project.Blazor.Components

<h1 class="page-title">All products</h1>

@if (Products == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var product in Products)
            {
                <div class="col-3">
                <ProductCard ProductId="@product.Id" Name="@product.Name" Description="@product.Description" imageUrl="@GetRandomImageUrl()"></ProductCard>
                </div>
            }
        </div>
    </div>
}
